@mixin font-family($keyword) {
  font-family: get-font-family($keyword);
}

@mixin font-size($keyword) {
  font-size: get-font-size($keyword);
}

@mixin font-weight($keyword) {
  font-weight: get-font-weight($keyword);
}

@mixin respond($breakpoint) {
  @if ($breakpoint == md) {
    @media only screen and (min-width: 48em) {
      @content;
    } // 768px
  }
  @if ($breakpoint == lg) {
    @media only screen and (min-width: 64em) {
      @content;
    } // 1024px
  }
  @if ($breakpoint == xl) {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200px
  }
  @if ($breakpoint == xxl) {
    @media only screen and (min-width: 106.25em) {
      @content;
    } // 1700px
  }
}

@mixin btn--solid {
  outline: none;
  border: none;
  cursor: pointer;
  @include font-family(sf-display);
  line-height: 21px;
  @include font-size(lg);
  background-color: #000000;
  color: color(c-white);
  padding: $gap + 2 $gap * 5.5;
  transition: all 0.3s ease 0s;
  box-shadow: none;
  &:hover {
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
  }
}

@mixin btn--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: color(c-primary);
  font-weight: bold;
  @include font-size(sm);
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translateX(3px);
  }
}

@mixin separator {
  @include font-size(sm);
  color: color(c-black-20);
}
