.container {
  background-color: color(c-white);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  &.scroll {
    border-bottom: 1px solid color(c-border);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gap;
  width: 100%;
  margin: 0 auto;

  &__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--item {
      margin: 0 $gap;
      display: flex;
      align-items: center;
    }
    &--separator {
      @include separator;
    }
  }

  @include respond(md) {
    max-width: 90%;
    padding: $gap $gap * 4;
  }
  @include respond(xxl) {
    max-width: 1600px;
  }
}
